### Import Libraries

In [1]:
import pandas as pd
import numpy as np

In [3]:
#Sample dataset
data = {
    'Date': pd.date_range(start='2025-06-01', periods=7, freq='D'),
    'Village_Name': ['Rampur']*7,
    'Households': [120]*7,
    'Total_Water_Used(L)': [5400,6200,4800,5000,5500,5300,4900],
    'Rainfall(mm)': [2.5,0.0,5.0,3.0,0.0,1.0,4.0]
}

df = pd.DataFrame(data)
df

        Date Village_Name  Households  Total_Water_Used(L)  Rainfall(mm)
0 2025-06-01       Rampur         120                 5400           2.5
1 2025-06-02       Rampur         120                 6200           0.0
2 2025-06-03       Rampur         120                 4800           5.0
3 2025-06-04       Rampur         120                 5000           3.0
4 2025-06-05       Rampur         120                 5500           0.0
5 2025-06-06       Rampur         120                 5300           1.0
6 2025-06-07       Rampur         120                 4900           4.0

### Average water per household

In [5]:
df['Avg_Water_Per_Household'] = df['Total_Water_Used(L)'] / df['Households']
df

,Date,Village_Name,Households,Total_Water_Used(L),Rainfall(mm),Avg_Water_Per_Household
0,2025-06-01,Rampur,120,5400,2.5,45.000000
1,2025-06-02,Rampur,120,6200,0.0,51.666667
2,2025-06-03,Rampur,120,4800,5.0,40.000000
3,2025-06-04,Rampur,120,5000,3.0,41.666667
4,2025-06-05,Rampur,120,5500,0.0,45.833333
5,2025-06-06,Rampur,120,5300,1.0,44.166667
6,2025-06-07,Rampur,120,4900,4.0,40.833333

### Recommended usage (mean Â± std)

In [7]:
avg_usage = np.mean(df['Avg_Water_Per_Household'])
std_usage = np.std(df['Avg_Water_Per_Household'])
min_usage = avg_usage - std_usage
max_usage = avg_usage + std_usage
avg_usage,std_usage,min_usage,max_usage

(44.166666666666664, 3.6731544334622646, 40.4935122332044, 47.83982110012893)

### Classify usage

In [9]:
def classify_usage(x):
    if x < min_usage:
        return 'Low'
    elif x > max_usage:
        return 'High'
    else:
        return 'Normal'

df['Usage_Level'] = df['Avg_Water_Per_Household'].apply(classify_usage)
df

,Date,Village_Name,Households,Total_Water_Used(L),Rainfall(mm),Avg_Water_Per_Household,Usage_Level
0,2025-06-01,Rampur,120,5400,2.5,45.000000,Normal
1,2025-06-02,Rampur,120,6200,0.0,51.666667,High
2,2025-06-03,Rampur,120,4800,5.0,40.000000,Low
3,2025-06-04,Rampur,120,5000,3.0,41.666667,Normal
4,2025-06-05,Rampur,120,5500,0.0,45.833333,Normal
5,2025-06-06,Rampur,120,5300,1.0,44.166667,Normal
6,2025-06-07,Rampur,120,4900,4.0,40.833333,Normal

### Rainfall effect

In [11]:
rainy_days_avg = np.mean(df[df['Rainfall(mm)']>0]['Avg_Water_Per_Household'])
dry_days_avg = np.mean(df[df['Rainfall(mm)']==0]['Avg_Water_Per_Household'])
rainy_days_avg,dry_days_avg

(42.33333333333333, 48.75)

### Predict next day usage (simple estimate)

In [12]:
next_day_usage = df['Avg_Water_Per_Household'].iloc[-1] - 0.5 * df['Rainfall(mm)'].iloc[-1]

### Display result

In [13]:
print(df)
print("\nRecommended daily usage per household:", round(min_usage,2), "to", round(max_usage,2), "L/day")
print("Average usage on rainy days:", round(rainy_days_avg,2))
print("Average usage on dry days:", round(dry_days_avg,2))
print("Estimated usage for next day:", round(next_day_usage,2), "L/household")

        Date Village_Name  Households  Total_Water_Used(L)  Rainfall(mm)  \
0 2025-06-01       Rampur         120                 5400           2.5
1 2025-06-02       Rampur         120                 6200           0.0
2 2025-06-03       Rampur         120                 4800           5.0
3 2025-06-04       Rampur         120                 5000           3.0
4 2025-06-05       Rampur         120                 5500           0.0
5 2025-06-06       Rampur         120                 5300           1.0
6 2025-06-07       Rampur         120                 4900           4.0

   Avg_Water_Per_Household Usage_Level
0                45.000000      Normal
1                51.666667        High
2                40.000000         Low
3                41.666667      Normal
4                45.833333      Normal
5                44.166667      Normal
6                40.833333      Normal

Recommended daily usage per household: 40.49 to 47.84 L/day
Average usage on rainy days: 42.33
Average usage on dry days: 48.75
Estimated usage for next day: 38.83 L/household